header,
div,
span,
p,
h1,
h2,
strong,
a,
ul,
ol,
li,
body {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    position: relative;
    
}


header {
    min-width: 120px;
    width: 80%;
    height: 130px;
    margin: auto;

}


.h-first{
    width: 120px;
    min-width: 120px;
    float:left;
    line-height: 130px;
}

.h-second{
    float: right;
    display: flex;
    line-height: 130px;
}
.logo{
    width: inherit;
    min-width: 120px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}
.item{
    min-width: 80px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.profile{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img{
    width: 320px;
    height: 450px;
    object-fit: cover;
}

.p-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.b-firstBox{
    min-width: 480px;
    width: 50%;
    height: auto;
}

.b-secondBox{
    width: 50%;
    background-color:#c8b6d5;
    position: fixed;
    margin-left: 50%;
    height: 100%;
    min-width: 350px;
    
}
.no-drag{
    -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
}

.mainBox{
    width: 60%;
    min-width: 450px;
    margin: auto;
    margin-top: 150px;
}
.name{
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 50px;

}
.content{
    font-size: 25px;
    font-weight: 600;
    padding-left: 3px;
}

.subItem{
    font-weight: bold;
}
.proImg{
    margin-top: 30px;
}

.proImg img{
    width: 100%;
    height: 500px;
}

.p-desc{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.p-descFont{
    font-size: 14px;
}

a{
    color: black;
    text-decoration: none;
    
}
.a-tag{
    font-size: 15px;
    font-weight: bold;
}
.mySelf{
    width: 100%;
    height: 200px;
}

.site:hover{
    opacity: 1px;
}

.skill-Font{
    width: 250px;
    min-width: 150px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.s-div{
    margin-bottom: 10px;
}


